#section-form-style {
    width: 100%;
    height: 100%;
    background: url(../img/party.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-repeat: repeat;
}




tr.spaceUnder>td {
    padding-bottom: 3em;
}

#form-style {
    background-color: #FFFFFF;
    padding: 60px 0;
    padding-top: 60px;
    padding-right: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
    min-height: 700px;
}